<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!--<bean id="handleEventJobFactory"-->
		  <!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
		<!--<property name="targetObject" ref="handleEventJob"/>-->
		<!--<property name="targetMethod" value="execute"/>-->
		<!--<property name="concurrent" value="false"/>-->
	<!--</bean>-->

	<!--<bean id="handleEventJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
		<!--<property name="jobDetail" ref="handleEventJobFactory"/>-->
		<!--<property name="startDelay" value="5000"/>-->
		<!--<property name="cronExpression" value="*/10 * * * * ?"/>-->
	<!--</bean>-->

	<!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
		<!--<property name="triggers">-->
			<!--<list>-->
				<!--&lt;!&ndash;-->
				<!--<ref local="handleEventJobTrigger" />-->
				<!--&ndash;&gt;-->
			<!--</list>-->
		<!--</property>-->
	<!--</bean>-->
</beans>