<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 网点服务 -->
    <bean name="/waybilltrackservice" class="com.wangkuo.zxb.coreservice.hessian.CustomHessianServiceExporter">
        <property name="service" ref="waybillTrackServiceFacade"/>
        <property name="serviceInterface" value="com.wangkuo.zxb.coreservice.api.IWaybillTrackServiceFacade"/>
    </bean>


</beans>